Source: libopeninput
Priority: optional
Maintainer: Kresten Kjeldgaard <gathond@laptop.gathond.dk>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, libx11-dev, libc6-dev, doxygen
Standards-Version: 3.6.1
Section: libs

Package: libopeninput-dev
Section: libdevel
Architecture: any
Depends: libopeninput (= ${Source-Version})
Conflicts: libsinp-dev
Description: input library
 Simple input library

Package: libopeninput-dbg
Section: libdevel
Architecture: any
Depends: libopeninput (= ${Source-Version})
Conflicts: libsinp-dbg
Description: input library
 Simple input library

Package: libopeninput
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libsinp
Description: input library
 Simple input library
