Source: libsinp
Priority: optional
Maintainer: Kresten Kjeldgaard <gathond@laptop.gathond.dk>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, libx11-dev, libc6-dev
Standards-Version: 3.6.1
Section: libs

Package: libsinp-dev
Section: libdevel
Architecture: any
Depends: libsinp (= ${Source-Version})
Description: input library
 Simple input library

Package: libsinp-dbg
Section: libdevel
Architecture: any
Depends: libsinp (= ${Source-Version})
Description: input library
 Simple input library

Package: libsinp
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: input library
 Simple input library
